*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    /* line-height: 1.6; */
}

nav {
    margin: 1rem auto;
    background-color: #eee;
    background-image: url(bg-img.jpg);
    border-top: 3px solid #00bff3;
    border-bottom: 3px solid #00bff3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: #00bff9;
    text-decoration: none;
    font-weight: 600;
}

nav a:focus {
    background-color: #f0c808;
    color: black;
}
nav a:hover {
    background-color: #f0c808;
    color: #ff583d;
    background-image: url(iceberg-canada.jpg);
}

.active {
    color: #ff583d;
    background-color: #c5e5ed;
}

img {
    width: 100px;
    /* max-width: 100%; */
    /* height: auto; */
    /* display: block; */
    /* margin: 0 auto; */
}

.logo {
    flex-basis: 250px;
    text-align: center;
}

.logo a:hover {
    background-color: transparent;
    background-image: none;
}