*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    /* line-height: 1.6; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}